<h1>Página Complexa</h1>


<p>Aqui a gente pode ver a combinação de vários tags, criando uma página com vários elementos.</p>

<p>Para isso, eu coloquei o HTML num arquivo separado, para não ocupar muito espaço no código Python.</p>


<h2>Exemplos de Tags</h2>

<p>O HTML tem suporte a vários tipos de elementos. Vamos ver alguns dos mais básicos.</p>

<ul>
    <li>
        <strong>h1, h2, h3, etc</strong>: coloque títulos e subtítulos entre esse tags 
    </li>
    
    <li>
        <strong>p</strong>: coloque o texto do parágrafo entre tags p
    </li>
    
    <li>
        <strong>a</strong>: use esse tag com a propriedade href="http://endereco.com" para criar links
    </li>   
    
    <li>
        <strong>ul + li</strong>: abra uma lista ul e coloque items li dentro dela
    </li>
    
    <li>
        <strong>img</strong>: use esse tag com a propriedade src="http://endereco.com/foto.jpg" para criar imagens
    </li>   
</ul>
    
    
<h2>Outras Tecnologias da Web</h2>

<p>O visual padrão desses elementos todos pode ser modificado usando uma outra linguagem: CSS. Se quiser saber mais sobre ela, <a href="https://www.hostinger.com.br/tutoriais/o-que-e-css-guia-basico-de-css">clique neste link</a>.</p>

<p>Já para recursos mais avançados, como atualizações na página ou a interatividade do usuário (ex: clique em botões), usamos o Javascript. Para saber mais sobre o assunto, <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Guide/Introduction">acesse esta página</a>.</p>



<h2>Para Descontrarir</h2> 

<img src="https://i.pinimg.com/originals/5e/08/b7/5e08b7618ed4067c1f2b246cbec89731.jpg">

<br>

<img src="https://i.pinimg.com/originals/ed/38/19/ed38199f5d64b6cf32a73b09aed39252.jpg">

<br>

<img src="https://i.redd.it/wx58oavcnze51.jpg">